body {
  background-color: #fff3e6;
}

img {
  height: 240px;
}

h1 {
  color: #1a508b;
}

h3 {
  color: #1a508b;
}

hr {
  border-style: dotted none none none;
  border-color: #0d335d;
  border-width: 7px;
  width: 5%;
}
